article{
	font-family: 'Lato', sans-serif;	
}

a{
	color: #000;
}

a:hover, a:active{
	color: rgb(241,183,159);
}

img{
	vertical-align: middle;
}



.tm-list{
	margin:auto;
	font-family: 'Encode Sans Condensed', sans-serif;
}

.tm-list li{
	padding: 4px;
	font-weight: bold;
	font-size: 11pt;
}

.tm-right{
	font-family: 'Encode Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 11pt;
}

.tm-right-icon{
	padding: 10px;
}

.tm-bg{
	background-image: url("../img/Desert.jpg");
	background-repeat: repeat-y;
	border-radius: 0;
    background-size: 100%;
    background-color: #fff;
}

.bg-img{
	width: 100%;
}


.text-middle-jumbo{
	color: #fff;
	text-align:center; 
    display:table;
    width:100%;
    height: 100%;
}


.text-middle-jumbo div{
	text-align: center;
	display:table-cell; 
	vertical-align:middle;
}


.text-header{
	color: #fff;
	font-family: 'Merriweather', serif;
}

.tm-article{
	padding-left: 10%;
	padding-right: 10%;
}

.tm-img{
	margin: 1%;
	padding: 2%;
	width: 500px;
}

.tm-btn{
	background-color: #000;
	color: #fff;
	border-radius: 0;
}

.hr-80{
	width: 80%;
}

.subscribe{
	margin-top: 8px;
}

.tm-icon{
	margin: 2%;
	padding: 8px;
	list-style: none;
}

.list-icon ul li{
	display: inline-block;
	padding: 4px;
}

.tm-rights{
	margin-top: 2%;
	margin-bottom: 2%;
}

.center{
	margin: auto;
    width: 50%;
}

/*BOOTSTRAP CSS ELEMENT */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: rgb(241,183,159);
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: rgb(241,183,159);
}

.btn:focus, .btn:hover {
    text-decoration: none;
    background-color: rgb(241,183,159);
    color: black;
}

@media screen and (min-width: 992px) {

.tm-nav{
	height: 50px;
}

.jumbo{
	height: 100vh;
}

}
@media screen and (max-width: 992px) {

.tm-right{
	font-weight: bold;
	font-size: 11pt;
	float: left;
	padding-left: 4px;
}

}

