body{
	font-size: 18pt !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

p{
	text-align: justify;
}


.img-ss{
	padding: 2%;
}

.text-paragraf{
	text-indent: 2%;
	text-align: justify;
}

.text{
	text-align: justify;
}

.center-table{
	text-align: center;
}

.vertical {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 1.5em;
}


.vertical div {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
         margin-left: -10em;
         margin-right: -10em;
}

.text-bold{
	font-weight: bold;
}

.mid-table{
	text-align: center;
	width: 50%;
}


